:root {
  --primery-text-color: #757575;
  --primery-black-color: #212121;
  --header-logo-black-color: #000000;
  --primery-white-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primery-background-color: #f5f5f5;
  --background-color: #2f303a;
  --background-white-color: #ffffff;
  --background-team-button-color: #f5f4fa;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--background-white-color);
  color: var(--primery-text-color);
}

.current {
  color: var(--accent-color);
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */

/* header logo */
.header-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--accent-color);
}

.header-studio {
  color: var(--header-logo-black-color);
}

/* nav */
.nav-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primery-text-color);
}

.nav-link {
  color: var(--primery-black-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primery-white-color);
}

.hero-button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.9;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primery-white-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
}

/* feature */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primery-black-color);
}

.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primery-black-color);
}

.features-text {
  line-height: 1.71;
}

/* activity */
.activity-item {
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* team */
.team {
  background-color: var(--background-team-button-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primery-black-color);
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  color: var(--primery-black-color);
}

.team-profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.card-bg {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */
.adress-style {
  font-style: normal;
}

.footer {
  background-color: var(--background-color);
}

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--accent-color);
}

.footer-studio {
  color: var(--primery-white-color);
}

.adress-link,
.adress-mail,
.adress-phone {
  line-height: 1.7;
  text-decoration: none;
  
  color: rgba(255, 255, 255, 0.6);
}

.adress-link {
  color: var(--primery-white-color);
}

.adress-link,
.adress-mail {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.adress-mail:hover,
.adress-mail:focus,
.adress-phone:hover,
.adress-phone:focus {
  color: var(--accent-color);
}

/* portfolio */
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  color: var(--primery-black-color);
  background: var(--background-team-button-color);
  border-radius: 4px;
}

.portfolio-button:hover:hover,
.portfolio-button:focus:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-item {
  background: var(--background-white-color);
  border: 1px solid #eeeeee;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
  color: var(--primery-black-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}